In [20]:
import pandas as pd

In [21]:
import numpy as np

In [22]:
#create a list of strings
labels = ['a','b','c']

In [23]:
labels

['a', 'b', 'c']

In [24]:
my_list = [10,20,30]

In [25]:
my_list

[10, 20, 30]

In [26]:
arr = np.array(my_list)

In [27]:
arr

array([10, 20, 30])

In [28]:
d = {'a':10, 'b':20,'c':30}

In [29]:
d

{'a': 10, 'b': 20, 'c': 30}

In [30]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [31]:
labels

['a', 'b', 'c']

In [32]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [33]:
arr

array([10, 20, 30])

In [34]:
labels1=['x','y','z']
pd.Series(arr,labels1)

x    10
y    20
z    30
dtype: int64

In [36]:
labels3=['i','ii','iii']
pd.Series(arr,labels3)

i      10
ii     20
iii    30
dtype: int64

In [40]:
students={'name':'sam','age':19,'major':'CIS'}

In [38]:
print(students)

{'name': 'same', 'age': 19, 'major': 'CIS'}

In [41]:
pd.Series(students)

name     sam
age       19
major    CIS
dtype: object

In [42]:
mtsacStudent={'studentId':100,'name':'Sam','major':'CIS'}

In [43]:
mtsacStudent

{'studentId': 100, 'name': 'Sam', 'major': 'CIS'}

In [44]:
pd.Series(mtsacStudent)

studentId    100
name         Sam
major        CIS
dtype: object

In [45]:
list1=[10,30,100]
list2=['a','b','c']

In [46]:
pd.Series(data=list1,index=list2)

a     10
b     30
c    100
dtype: int64

In [47]:
pd.Series(data=list2,index=list1)

10     a
30     b
100    c
dtype: object

In [48]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [49]:
ser2 = pd.Series([19,21,18],index=['sam','john','mary'])

In [50]:
ser2

sam     19
john    21
mary    18
dtype: int64

In [51]:
ser2['john']

21

In [54]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [55]:
ser1 + ser2

Germany   NaN
Japan     NaN
USA       NaN
USSR      NaN
john      NaN
mary      NaN
sam       NaN
dtype: float64

In [56]:
fall2020=pd.Series([70,72,30],index=['CIS','CIS41','CIS31'])

In [60]:
spring2020=pd.Series([36,36,70],index=['CISd41','CIS43','CISP71'])

In [61]:
fall2020 + spring2020

CIS      NaN
CIS31    NaN
CIS41    NaN
CIS43    NaN
CISP71   NaN
CISd41   NaN
dtype: float64

In [62]:
t=pd.Series(100,index=['Exam1','Exam2','Exam3'])

In [63]:
print(t)

Exam1    100
Exam2    100
Exam3    100
dtype: int64